.header__logo {
    //border-bottom: 1px solid var(--black100);
    position: sticky;

    @media (max-width: 800px){
        border-bottom: 0;
    }
    
    .small {
        font-size: 0.7em; /* 원래 폰트 크기의 70%로 설정 */
    }

    a{
        display: flex;
        padding: 10px;
        margin: 15px;

        em {
            width: 40px;
            height: 40px;
            display: block;
            background-color: var(--color1); /* 초기 색상 */
            margin-right: 20px;
            animation: changeBackgroundColor 20s infinite ease-in-out, ani 20s infinite ease-in-out;
        }

        span{
            font-size: 18px;
            line-height: 1;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}

@keyframes changeBackgroundColor {
    0% {
        background-color: var(--color0);
    }
    10% {
        background-color: var(--color1);
    }
    20% {
        background-color: var(--color2);
    }
    30% {
        background-color: var(--color3);
    }
    40% {
        background-color: var(--color4);
    }
    50% {
        background-color: var(--color5);
    }
    60% {
        background-color: var(--color6);
    }
    70% {
        background-color: var(--color7);
    }
    80% {
        background-color: var(--color8);
    }
    90% {
        background-color: var(--color9);
    }
    100% {
        background-color: var(--color0); /* 원래 색상으로 돌아가기 */
    }
}


.header__menu{
    margin-top: 20px;
    padding: 10px 0;
    .menu{
        //border-bottom: 1px solid var(--black100);
        li{
            margin-bottom: 5px;
            a{
                font-size: 1rem;
                display: block;
                padding: 0.9rem 2rem 0.9rem 3.125rem;
                margin: 0 0.625rem;
                border-radius: 40px;
                position: relative;
                line-height: 1;
                color: var(--white200);
                transition: all 0.3s;

                svg{
                    width: 1.25rem;
                    height: 1.25rem;
                    position: absolute;
                    left: 1.25rem;
                    top: 0.75rem;
                }

                &:hover{
                    background-color: var(--black100);
                    color: var(--white);
                }
            }

            &.active a{
                background-color: var(--black100);
                color: var(--white);
            }
        }
    }
    .keyword{
        padding: 1.25rem;
        li{
            display: inline-block;

            a{
                display: inline-block;
                padding: 5px 15px;
                border: 1.5px solid var(--black200);
                font-size: 0.8rem;
                border-radius: 40px;
                margin: 3px 1px;
                transition: all 0.3s;

                &:hover{
                    background-color: var(--black100);
                    color: var(--white);
                }
            }
            &.active a{
                background-color: var(--black100);
                color: var(--white);
            }
        }
    }
}

.header__sns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 260px;
    text-align: center;
    padding: 15px 0 10px;
    background-color: var(--blackAlpha100);
    backdrop-filter: blur(5px);

    @media (max-width: 800px) {
        display: none;
    }

    li {
        display: inline-block;
        position: relative;
        margin: 0 25px; /* li 요소 간 간격 */
        right: 10px;
        top: -10px;

        svg {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            z-index: 1; /* a 요소보다 위에 오도록 설정 */
        }
        a {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 5px 10px;
            z-index: 2; /* svg 요소보다 위에 오도록 설정 */
            background-color: transparent; /* 배경색을 투명으로 설정 */
        }
    }
}


@keyframes ani{
    0%{
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
    50%{
        transform: rotate(720deg) scale(0.5);
        border-radius: 20px;
    }
    100%{
        transform: rotate(0) scale(1);
        border-radius: 0;
    }
}