:root {
    --mainfont-nanum: "nanumSquareNeo";
    --mainfont-nexon: "nexonLv1";
  
    --black: #000;
    --black100: #161616;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #000;

    --blackAlpha: #00000000;
    --blackAlpha100: #00000025;
    --blackAlpha200: #0000004d;
    --blackAlpha300: #00000091;
    --blackAlpha400: #000000c3;
    --blackAlpha500: #000000eb;
    
    --white: #fff;
    --white100: #efefef;
    --white200: #d9d9d9;
    --white300: #fff;
    --white400: #fff;
    --white500: #fff;

    --color0: #ec2f7b;
    --color1: #ed5555;
    --color2: #ed8055;
    --color3: #e5a661;
    --color4: #e5e340;
    --color5: #95ec3a;
    --color6: #3aec64;
    --color7: #50ceec;
    --color8: #2a74fc;
    --color9: #7f29ff;

    --color10: #ff0000;
    --color20: #c30000;
    --color30: #8c0000;
    --color40: #4c0000;
    
    // 폰트 셋팅
    font-family: var(--mainfont-nanum), var(--mainfont-nexon);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    
    // 폰트 최적화
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}